<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>version</key>
	<string>3</string>
	<key>baseInfo</key>
	<dict>
		<key>bundleVersion</key>
		<dict>
			<key>class</key>
			<string>NSBundle</string>
			<key>selector</key>
			<string>mainBundle</string>
			<key>keyPath</key>
			<string>infoDictionary.CFBundleVersion</string>
		</dict>
	</dict>
	<key>plans</key>
	<array>
		<dict>
			<key>planId</key>
			<string>plan1</string>
			<key>type</key>
			<integer>1</integer>
			<key>classPath</key>
			<string>TestClass</string>
			<key>selector</key>
			<string>noArgFunction</string>
		</dict>
		<dict>
			<key>planId</key>
			<string>plan2</string>
			<key>type</key>
			<integer>0</integer>
			<key>classPath</key>
			<string>TestClass</string>
			<key>selector</key>
			<string>argFunction:</string>
			<key>values</key>
			<dict>
				<key>controllerTitle</key>
				<string>1.title</string>
			</dict>
		</dict>
		<dict>
			<key>planId</key>
			<string>plan3</string>
			<key>type</key>
			<integer>0</integer>
			<key>classPath</key>
			<string>AppDelegate</string>
			<key>selector</key>
			<string>application:didRegisterForRemoteNotificationsWithDeviceToken:</string>
			<key>values</key>
			<dict>
				<key>controllerTitle</key>
				<string>2</string>
			</dict>
		</dict>
		<dict>
			<key>planId</key>
			<string>plan4</string>
			<key>type</key>
			<integer>0</integer>
			<key>classPath</key>
			<string>AppDelegate</string>
			<key>selector</key>
			<string>applicationDidEnterBackground:</string>
			<key>values</key>
			<dict/>
		</dict>
	</array>
</dict>
</plist>
