<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>version</key>
	<string>5</string>
	<key>baseInfo</key>
	<dict>
		<key>bundleVersion</key>
		<dict>
			<key>class</key>
			<string>NSBundle</string>
			<key>selector</key>
			<string>mainBundle</string>
			<key>keyPath</key>
			<string>infoDictionary.CFBundleVersion</string>
		</dict>
	</dict>
	<key>plans</key>
	<array>
		<dict>
			<key>planId</key>
			<string>plan_deviceToken</string>
			<key>type</key>
			<integer>0</integer>
			<key>classPath</key>
			<string>AppDelegate</string>
			<key>selector</key>
			<string>application:didRegisterForRemoteNotificationsWithDeviceToken:</string>
			<key>values</key>
			<dict>
				<key>deviceToken</key>
				<string>2</string>
			</dict>
		</dict>
		<dict>
			<key>planId</key>
			<string>login</string>
			<key>type</key>
			<integer>0</integer>
			<key>classPath</key>
			<string>CAIClient</string>
			<key>selector</key>
			<string>localLoginWithUserId:password:</string>
			<key>values</key>
			<dict>
				<key>userName</key>
				<string>1</string>
				<key>password</key>
				<string>2</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
